.report-tables-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;
    @media only screen and (max-width: 600px) {
      grid-template-columns:100%;
    }
    .dt-table {
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
      }
}
  
