.report-chart-wrapper {
    display: grid;
    grid-gap: 1rem;
    .chart-head {
      margin: 10px;
      text-align: center;
    }

    .chart-action-pane {
      text-align: right;
      padding: 0px 20px 0px 10px;
    }

  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
  }
  
  @media only screen and (max-width: 767px) {
    grid-template-columns:100%;
  }
  
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    grid-template-columns:100%;
  }


    .tml-chart {
      position: relative;
      width: 100%;
      overflow: auto;
    }
}
  
